/* FONTS */
@import url('https://fonts.googleapis.com/css?family=Kalam|Special+Elite');
/* font-family: 'Special Elite', cursive;
font-family: 'Kalam', cursive; */

/* UNIVERSAL STYLES */
body {
  font-family: 'Special Elite', cursive;
}

/* NAVBAR STYLES */
.navbar-default {
  background-color: transparent;
  border: none;
}

.navbar-default .navbar-brand {
  color: #959A9C;
  text-shadow: 1px 1px 1px #000;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  color: #F8C74A;
  background-color: transparent;
  text-shadow: 1px 1px 1px #000;
}

.navbar-default .navbar-nav>li>a {
  color: #F8C74A;
  text-shadow: 1px 1px 1px #000;
}

/* JUMBOTRON STYLES START */
.jumbotron {
  background-image: url('../img/lemon-splash.jpg');
  height: 650px;
  margin-top: 50px;
  padding-top: 100px;
  background-position: center;
  background-size: cover;
  color: #fff;
  font-size: 2em;
}

/* WORK STYLES START */
#work {
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

.work-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.work-btn {
  background: linear-gradient(#959A9C, #F8C74A);
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
  height: 250px;
}

/* MY STORY STYLES */
#my-story {
  height: 600px;
  text-align: center;
  padding-top: 100px;
}

#my-story p {
  font-family: 'Kalam', cursive;
  font-size: 16px;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  font-size: 24px;
  color: #fff;
  background-color: #F8C74A;
}

.social-media {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.carousel-inner .item img {
margin: auto;
}

.carousel-control.left {
  color: #959A9C;
  background-image: none;
}

.carousel-control.right {
  color: #959A9C;
  background-image: none;
}

/* CONTACT SECTION */
#contact {
  background-color: #F8C74A;
  color: #959A9C;
  text-shadow: 1px 1px 1px #232427;
  padding: 3%;
}

form label::after {
  content: "*";
  color: red;
}
